@model Kutuphane_MVC_EF.Models.Odunc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Odunc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerilisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerilisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeslimTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeslimTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iptal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iptal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitaplarIsbnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitaplarIsbnNavigation.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uye.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Geri dön</a>
</div>
