@model IEnumerable<Kutuphane_MVC_EF.Models.Uyeler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Üye</a>
</p>
<table class="table table-sm table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogumTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UyelikTarihi)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UyelikTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meslek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EgitimDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CezaDurumu)
            </th>*@
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogumTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyelikTarihi)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UyelikTipi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meslek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EgitimDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CezaDurumu)
            </td>*@
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a class="btn btn-sm btn-warning" asp-action="Details" asp-route-id="@item.Id">Detay gör</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
